{{#each dataMovie}}
               {{#if @last}} 
               <div class="container-fluid booking-room">
               <div class="row">
                  <h1>Bookings</h1>
                  <div class="col-5">
                     <div class="bigImage">
                        <img src={{movie.img}} alt={{movie.title}} />
                     </div>
                  </div>

                  <div class="offset-1 col-6">
                    <ul>
                        <li>Data: {{date}}</li>
                        <li>Title Movie: {{movie.title}} </li>
                        <li>Year: {{movie.year}}</li>
                        <li>Director: {{movie.director}}</li>
                        <li>Duration: {{movie.duration}}</li>
                        <li>Genre: [{{movie.genre}}]</li>
                        <li>Seating: {{venueSeating}}</li>
                    </ul>
                    <form action="/booking/{{_id}}" method="post">

                         {{#if venueSeating}} 
                        <label for="quantity">Quantity (only {{venueSeating}} remaining):</label>
                        <input type="number" id="quantity" name="quantity" min="1" max={{venueSeating}}>

                        <input type="submit">
                        {{else}}
                         <button type="button" class="btn btn-danger">Booking  Closed</button>
                        {{/if}}
                    </form>
                  </div> 
               </div>
               </div>
               {{/if}}
{{/each}}