<section class="container-fluid imprint-wrapper big-gap" >
<div class="content col-6">

<div>
<h1>Admin Page</h1>
<br>
<h2>Edit Show</h2>
</div>
  <form action="/admin/updateshow/{{id}}" method="post">
<div class="inputForm">
<div class = "labelDiv">

    <label> Date </label><br>
        <input type="date" class="formInput" value="{{date}}" name="date"><br>
</div>
<br>
<div class = "labelDiv">
    <label> Available Seating </label><br>
        <input type="text" class="formInput" value="{{venueSeating}}" name="venueSeating" placeholder="default value 42"><br>
</div>
<br>
<div class = "labelDiv"></div>
    <label for="movie-select"> Select Movie </label><br>
    <select name="movie" id="movie-select">
        <option value="">{{movie}}:{{year}}</option>
        {{#each film}}
        date {{date}}
        <option value={{id}}>{{title}}:{{year}}</option>
        {{/each}}
    </select><br>
</div>
<br>
<button class="addDB pt-20" type="submit">Updated Show Schedule</button>
</form>
<br>
</div>
</section>  