<!-- HeroSection HTML init  -->
<div class="carousel carousel-main" data-flickity='{ "hash": true , "contain": true }'>
  {{#each dataDB}}
      <div class="carousel-cell"  style="background-image:url({{movie.poster}})" > 
        <div class="cell-wrapper col-8" >
              <div class="cell-title">
                  {{movie.title}}
              </div>
              <div class="cell-content">
                  {{movie.plot}}
              </div>
              <div class="cell-date">
                Next show: {{date}}
              </div>
              <div class="cell-buttons">
                <a href='/booking/{{id}}' class="btn btn-book">Book now</button>
                <a href={{movie.trailer}} target="_blank" class="btn btn-light">Watch Trailer</a>
        </div>
      </div> 
  </div>
            
  {{/each}}


 
  
</div>

<!-- Main-Wrapper HTML init  -->
 <section class="main-wrapper">
    <h2>Cinema program</h2>
    <span>Movies currently showing at 6:00PM at Iron Cinema - Storkower Str. 132</span>

    <div class="row align-items-center">
      {{#each dataDB}}
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="row-wrapper">
              <img src={{movie.img}} alt={{movie.title}} >
              <a href='/booking/{{id}}' class="btn btn-book">Book now</a>
              <div class="title">{{movie.title}}</div>
              <div class="title">Date: {{date}}</div>
              <div class="title">Duration: {{movie.duration}}</div>
              <div class="title">Seats remaining: {{venueSeating}}</div>
            </div>
          </div>
            
      {{/each}}
   </div>
 </section>



